.recently-added{
    padding-left: 300px;
    padding-right: 300px;
    margin-bottom: 103px;
}

.header-holder {
    height: 44px;
    justify-content: space-between;
    display: flex;
}

.recently-added h4 {
    height: 35px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 35.2px;
    text-align: left;    
    color: rgba(39, 35, 67, 1);
}

.recent-products-list {
    display: flex;
    gap: 18px;
    margin-top: 40px;
}


.featured-header {
    
}